@import "tailwindcss";

:root {
  --background: #eaeaea;
  --foreground: #151515;
}

@font-face {
  font-family: "graphik_regularregular";
  src: url("/fonts/graphikregular-webfont.woff2") format("woff2"),
    url("/fonts/graphikregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphikmedium";
  src: url("/fonts/graphikmedium-webfont.woff2") format("woff2"),
    url("/fonts/graphikmedium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "perfectly_ninetiesregular";
  src: url("/fonts/perfectlynineties-regular-webfont.woff2") format("woff2"),
    url("/fonts/perfectlynineties-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonts */
  --font-graphik: "graphik_regularregular", Arial, Helvetica, sans-serif;
  --font-graphikMedium: "graphikmedium", Georgia, "Times New Roman", serif;
  --font-perfectly: "perfectly_ninetiesregular", Georgia, "Times New Roman",
    serif;

  /* breakpoints */
  --breakpoint-xxs: 389px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  --breakpoint-2xl: 1640px;
  --breakpoint-3xl: 1700px;

  /* fontSize */

  --text-80: 80px;
  --text-80--line-height: 110%;
  --text-80--font-weight: 400;

  --text-60: 60px;
  --text-60--line-height: 113.333%;
  --text-60--font-weight: 400;
  --text-60--letter-spacing: 0.6px;

  --text-46: 46px;
  --text-46--line-height: 121.739%;
  --text-46--font-weight: 400;
  --text-46--letter-spacing: 0.46px;

  --text-42: 42px;
  --text-30: 30px;
  --text-22: 22px;
  --text-17: 17px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;

  @media (width >= 389px) {
    max-width: 100%;
  }
  @media (width >= 640px) {
    max-width: 100%;
  }
  @media (width >= 768px) {
    max-width: 720px;
  }
  @media (width >= 1024px) {
    max-width: 960px;
  }
  @media (width >= 1280px) {
    max-width: 1230px;
  }
  @media (width >= 1440px) {
    max-width: 1350px;
  }
  @media (width >= 1640px) {
    max-width: 1560px;
  }
  @media (width >= 1700px) {
    max-width: 1592px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "graphik_regularregular", Arial, Helvetica, sans-serif;
}

.getShadow {
  filter: drop-shadow(46px -10px 16px #0000002c);
  -webkit-filter: drop-shadow(46px -10px 16px #0000002c);
}
